body {
    max-width: 540px;
    min-width: 320px;
    color: #000;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei";
    background-color: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #222;
}

div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.search_index {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    display: flex;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

.search {
    flex: 1;
    position: relative;
    padding-left: 25px;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    color: #666;
}

.search::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -59px -280px;
    background-size: 104px 328px;
}

.user {
    width: 44px;
    height: 44px;
    text-align: center;
    color: #2eaae0;
}

.user::before {
    display: block;
    width: 23px;
    height: 23px;
    content: "";
    background: url(../images/sprite.png) no-repeat;
    background-position: -59px -194px;
    background-size: 104px 328px;
    margin: 3px auto -3px;
}

.banner {
    margin-top: 44px;
}

.banner img {
    width: 100%;
}

.local_nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}

.local_nav li {
    flex: 1;
}

.local_nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.local_nav span[class^=nav_icon] {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat;
    background-position: 0 0;
    background-size: 32px auto;
    margin-top: 7px;
    margin-bottom: 3px;
}

.local_nav li .nav_icon2 {
    background-position: 0 -32px;
}

.local_nav li .nav_icon2 {
    background-position: 0 -64px;
}

.local_nav li .nav_icon3 {
    background-position: 0 -96px;
}

.local_nav li .nav_icon4 {
    background-position: 0 -128px;
}

nav {
    margin: 0 4px 3px;
    border-radius: 8px;
    overflow: hidden;
}

.nav_common {
    display: flex;
    height: 88px;
}

.nav_common:nth-child(2) {
    margin: 3px 0;
}

.nav_items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav_items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav_items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .2)
}

.nav_items a:first-child {
    border-bottom: 1px solid #fff;
}

.nav_items:first-child a {
    border-bottom: 0;
    background: url(../images/hotel.png) no-repeat;
    background-position: bottom center;
    background-size: 121px auto;
}

.nav_common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5d56, #fa994d);
}

.nav_common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4b91ed, #53bbed);
}

.nav_common:nth-child(3) {
    background: -webkit-linear-gradient(left, #35c2a8, #6ad459);
}

/* subnav_entry  */

.subnav_entry {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    padding-bottom: 5px;
}

.subnav_entry li {
    flex: 20%;
}

.subnav_entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav_entry span[class^=subnav_icon] {
    width: 28px;
    height: 28px;
    background-color: pink;
    background: url(../images/subnav-bg.png) no-repeat;
    background-position: 0 0;
    background-size: 28px auto;
    margin-top: 10px;
}

.subnav_entry li a .subnav_icon2 {
    background-position: 0 -28px;
}

.subnav_entry li a .subnav_icon3 {
    background-position: 3px -62px;
}

.subnav_entry li a .subnav_icon4 {
    background-position: 0 -97px;
}

.subnav_entry li a .subnav_icon5 {
    background-position: 0 -128px;
}

.subnav_entry li a .subnav_icon6 {
    background-position: 0 -161px;
}

.subnav_entry li a .subnav_icon7 {
    background-position: 0 -195px;
}

.subnav_entry li a .subnav_icon8 {
    background-position: 0 -228px;
}

.subnav_entry li a .subnav_icon9 {
    background-position: 0 -256px;
}

.subnav_entry li a .subnav_icon10 {
    background-position: 3px -285px;
}

/* sales  */

.sales_box {
    margin: 4px;
    background-color: #fff;
    border-top: 1px solid #bbb;
}

.sales_hd {
    height: 44px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.sales_hd h2 {
    text-indent: -100em;
    overflow: hidden;
}

.sales_hd h2::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: 79px;
    height: 15px;
    background-image: url(../images/hot.png);
    background-size: 75px auto;
    background-position: 3px -19px;
}

.sales_hd .more {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    background: -webkit-linear-gradient(left, #ff5171, #ff69bf);
    padding: 2px 10px;
    color: #fff;
}

.sales_hd .more::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg)
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border: 1px solid #eee;
}

.row a img {
    width: 100%;
}